<html>
<body>
   <%= error_messages_for :session %>
 <div  id="menu">
  <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/">Bans</a></li>
   <li><a href="/">Downloads</a></li>
   <li><a href="/">Support</a></li>
   <li><a href="/About">About</a></li>
   <li id="current"><a href="/login">Login</a></li>
   <li><a href="/signup">Register</a></li>
  </ul>
 </div>
</body>
</html>
