<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta name="Description" content="Ban System for Minecraft bukkit servers." />
<meta name="Keywords" content="minecraft, Ban, server, craftrepo, bukkit" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="CrafRepo - info@craftrepo.net" />
<meta name="Robots" content="index,follow" />

<%= stylesheet_link_tag "Refresh" %>

<title>CraftRepo Bans</title>
        
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">

                <!--header -->
                <div id="header">

                        <h1 id="logo-text">CraftRepo<span class="gray"> Bans</span></h1>

                        <h2 id="slogan"><br />Because bans should be controlled by you!</h2>

                        <form class="search" method="post" action="#">
                                <p>
                                <!-- <input class="textbox" type="text" name="search_query" value="" />
                                <input class="button" type="submit" name="Submit" value="Search" /> -->
                                </p>
                        </form>

                </div>
