   <%= error_messages_for :home %>
 <div  id="menu">
  <ul>
   <li><a href="/">Home</a></li>
   <li><a href="/">Bans</a></li>
   <li><a href="/downloads">Downloads</a></li>
   <li><a href="/">Support</a></li>
   <li><a href="/about">About</a></li>
   <li><a href="/login">Login</a></li>
   <li><a href="/signup">Register</a></li>
  </ul>
 </div>
