<div id="content-wrap">
	<div id="sidebar">
	<h1>CraftRepo Links</h1>
		<div class="left-box">
			<ul class="sidemenu">
				<li><a href="http://craftrepo.net/"> CraftRepo Home</a></li>
				<li><a href="http://jira.craftrepo.net">JIRA - Issue Tracker</a></li>
				<li><a href="http://confluence.craftrepo.net">Confluence - Plugin Documentaion</a></li>
				<li><a href="http://fisheye.craftrepo.net/">FishEye - Source Code Review</a></li>
				<li><a href="http://bamboo.craftrepo.net/">Bamboo - Continuous Integration for Plugins</a></li>
			</ul>
		</div>
	</div>
