<h1>About The CraftRepo Ban System</h1>

<p><strong>CraftRepo Bans</strong>, or <strong>CRB</strong> for short, is a ban system developed by a major Minecraft GSP and it's community.</p>

<p>We are quite different from current ban systems and are similar to our friends at reddit, MCBouncer. We have been developing plugins for a few months now and we are now announcing this system as the reason for us existing. CRB and it's Craftbukkit plugin, Bans, have been under heavy development for a few months now, and are now nearing a release.</p>
