<h1>Downloads</h1>
<p>We offer both a <strong>Stable</strong> and a <strong>Development</strong> branch for download. The <strong>Stable</strong> branch will be well tested code that runs on the current CraftBukkit Recommended Build. The <strong>Development</strong> branch will have more features, but will <strong>NOT BE WELL TESTED</strong>. This branch will also run on the latest RB.</p>
<ul>
	<li><span><strong>Stable:</strong> <a href="http://bamboo.craftrepo.net/browse/BANS-STABLE/latestSuccessful/artifact/JOB1/jar/Bans.jar">Link to Stable jar</a></span></li>
	<li><span><strong>Development:</strong> <a href="http://bamboo.craftrepo.net/browse/BANS-DEVEL/latestSuccessful/artifact/JOB1/jar/Bans.jar">Link to Development jar</a></span></li>
</ul>
